# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
*.env

# Anaconda environment folders
.conda/

# macOS files
.DS_Store

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# Test coverage / reports
coverage/
htmlcov/

# Build & dist
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
tmp/
